<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carmel.fellowship">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/carmel_fellowship_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/carmel_fellowship_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Carmel_Fellowship">
        <activity
            android:name=".LoginAdmin"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SingupAdmin"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".meeting1"
            android:exported="false" />
        <activity
            android:name=".video_messages1"
            android:exported="false" />
        <activity
            android:name=".daily_verse1"
            android:exported="false" />
        <activity
            android:name=".audio_bible1"
            android:exported="false" />
        <activity
            android:name=".bible_videos1"
            android:exported="false" />
        <activity
            android:name=".carmel_songs1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>